<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Oliver Kallassalu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Oliver Kallassalu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/lti">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistliku sisu.</p>
  <hr>
  <h2>Siit leiab</h2>
  <ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Vanasõnade valik</a></li>	
	<li><a href="/reqvisit">Registreeri oma külastus</a></li>
	<li><a href="/eestifilm">Eesti film</a></li>
	<li><a href="/blackjack">Kasiino</a></li>
	<li><a href="/galleryphotoupload">Lae fotosid galeriisse</a></li>
	<li><a href="/photogallery">Fotogalerii</a><li>
	<li><a href="/uudised">Vaata uudiseid</a><li>
  </ul>
</body>
</html>