<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Oliver Kallassalu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Oliver Kallassalu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/lti">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistliku sisu.</p>
  <hr>
    <ul>
	<li><a href="/">Avalehele</a></li>
  </ul>
  <h2>Registreeri oma külastus</h2>
  <form method="POST">
	<label for="nameInput">Sinu nimi</label>
	<input type="text" id="nameInput" name="nameInput" placeholder="Kirjuta siia oma nimi...">
	<input type="submit" id="reqSubmit" name="reqSubmit" value="Salvesta">
  </form>
</body>
</html>