<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Oliver Kallassalu, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <h1>Oliver Kallassalu, veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/lti">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistliku sisu.</p>
  <hr>
    <ul>
	<li><a href="/">Avalehele</a></li>
	<li><a href="/eestifilm">Eesti filmi avalehele</a></li>
  </ul>
  <h2>UUDISED TOODUD SINUNI</h2>
  <!-- <form method="POST"> -->
   <!-- <label for="firstNameInput">Filmitegelase eesnimi</label> -->
   <!-- <input id="firstNameInput" name="firstNameInput" type="text" placeholder="Eesnimi ..." required> -->
   <!-- <br> -->
   <!-- <label for="lastNameInput">Filmitegelase perekonnanimi</label> -->
   <!-- <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Perekonnanimi ..." required> -->
   <!-- <br> -->
   <!-- <label for="positionInput">Roll filmi tegemisel</label> -->
   <!-- <br> -->
   <!-- <textarea id="positionInput" name="positionInput" rows="5" cols="50" placeholder="Kirjuta siia lühike selgitud....."></textarea> -->
   <!-- <br> -->
   <!-- <label for="bornInput">Sünniaeg</label> -->
   <!-- <input id="bornInput" name="bornInput" type="date" required> -->
   <!-- <br> -->
   <!-- <label for="deceasedInput">Surmaaeg</label> -->
   <!-- <input id="deceasedInput" name="deceasedInput" type="date"> -->
   <!-- <br> -->
   <!-- <input id="personSubmit" name="personSubmit" type="submit" value="Salvesta"> -->
  <!-- </form> -->
  <!-- <p></p> -->
</body>
</html>